@charset "UTF-8";

/* Определяем стиль всех ссылок на странице */
:link {
    text-decoration: none;
    color: #00F2D4;
}

body {
	background-color: #001423;
    color: #ffffff; /* Делаем текст белым */
    font-family: "Inter", system-ui, sans-serif; /* Задаём шрифт */
	letter-spacing: 0; /* межбуквенный интервал */
	text-rendering: optimizeLegibility; /* Повышаем приоритет качеству отображения текста */
    margin: 0; /* Убираем внешние отступы */
    padding: 0; /* Убираем внутренние отступы */
}

*, ::before, ::after {
	box-sizing: border-box;
}

* {
    /* Задаём параметры полосы прокрутки: смешиваем 20% цвета и прозрачность в цветовом пространстве srgb, а цвет под полосой прозрачность */
	scrollbar-color: color-mix(in srgb, #f9fafb 20%,transparent) transparent;
}

.navbar {
  background: linear-gradient(180deg,#00f2d400,#00f2d41a),#001423;
  display: flex;
  width: 260px;
  margin-right: auto; /* Создаём "заполнитель" слева */
  flex-shrink: 0; /* запрещает сжимать меню */
  padding: 24px 16px; /* Внутренние отступы - 24px сверху и снизу; 16px слева и справа */
  margin: 0; /* Убираем стандартный левые отступ списка */
  padding: 0; /* Убираем стандартные внешние отступы */
  list-style: none; /* Убираем маркеры списка */
  margin: 0;
  flex-direction: column; /* Указываем что все элементы нужно располагать "в столбик" */
  font-feature-settings: "liga" 0;
  font-weight: 550; /* толщина шрифта */
  font-size: 16px; /* Размер шрифта */
  line-height: 1.5; /* Высота строки */
  font-variant-ligatures: none;
}

.navbar ul {
    padding: 0;
    margin: 0;
    width: 100%;
}

.navbar li a {
  display: flex;
  padding: 12px 14px; /* Внутренние отступы - 12px сверху и снизу; 14px слева и справа */
  text-decoration: none; /* Убираем подчёркивание ссылок */
  width: 100%;
}

.navbar li a:hover:not(.text-uppercase) { /* Класс, отрабатывающий, когда пользователь наводит мышку на элемент */
    background-color: color-mix(in srgb, #6b7280 10%, transparent); /* Смешать цвета, в цветовом пространстве (SRGB), первый цвет 10%, второй цвет это прозрачность */
}

.navbar li a.active { /* Отдельный класс для активного элемента. Нужно добавлять класс в HTML */
    background-color: color-mix(in srgb, #6b7280 10%, transparent); /* Смешать цвета, в цветовом пространстве (SRGB), первый цвет 10%, второй цвет это прозрачность */
}

.layout {
  display: flex;
  min-height: 100vh; /* На всю высоту страницы */

}

.hidden {
    display: none; /* Не показываем скрытый список */
}

/* Для заголовков */ 
.text-uppercase {
    color: #00f2d4;
    text-transform: uppercase;
    padding-top: 16px;
    font-size: 14px;
    user-select: none;
    cursor: default;
}

.drop_menu {
    color: #ffffff;
}


main {
    width: 100%;
    margin-left: 15px;
}

.version {
    opacity: 0.4; /* Текст и всё внутри элемента станет прозрачным на 50% */
    margin-top: auto;
    text-align: center;
}

/* Основной контент страницы */
.page-body {
  display: block; /* Возвращаем блочный макет */
  padding: 16px; /* Устанавливаем отступы */
  background-color: #081b2a; /* Устанавливаем цвет фона */
  width: 100vw; /* Делаем контент шириной во весь экран */
  padding: 0px;
}

header {
  padding: 4px 16px;
  border-bottom: 1px solid #374151;
  display: flex;
}

/* Общий стиль для всех полей ввода */
input {
  padding: 9px 16px;
  /* display: block; */
  background-color: #111817;
  background-clip: padding-box;
  border: 1px solid #374151;
  border-radius: 6px;
  color: inherit;

  font-family: Inter, system-ui, sans-serif;
  font-size: .875rem;
  font-weight: 400;
  line-height: 1.25rem;
}

input:focus {
  border-color: #80c2be;
  outline: 0;
  box-shadow: 0 1px 1px rgba(229, 234, 235, .06),0 0 0 .25rem rgba(0, 133, 125, .25)
}

/* Поиск по всей базе */
.general-search {
  padding-left: 2.5rem;
}

.input-icon {
  position: relative; /* Задаём этот элемент как систему координат для дочерних элементов */
}

.input-icon-addon {
  position: absolute; /* Включает абсолютное позиционирование при котором элемент "не занимает место" в документе */ 
  top: 0;    /* Прижать элемент к верхней границе родительского элемента */
  bottom: 0; /* Прижать элемент к нижней границе родительского элемента */
  /* При комбинации top 0 и bottom 0 элемент занимает всю высоту родительского элемента */
  left: 0;   /* Прижать элемент к левой границе родительского элемента */

  width: 40px; /* Ширина элемента */

  display: flex; 
  align-items: center; /* Центрируем элемент по вертикали */
  justify-content: center; /* Центрируем элемент по горизонтали */

  color: #6c757d;
  pointer-events: none; /* Не перехватывать нажатия мыши */
  z-index: 2; /* Перемещаем слой выше, чем родительский, чтобы он отображался поверх */
}

div.user {
  margin-left: auto;

  font-size: 14px;
  color: rgb(156, 163, 175);
}

div.user span {
  display: block;
}